<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   
<footer id="footer" th:fragment="footerFragment">
	<h1 class="hidden">footer</h1>
	<div class="flex-evenly">
		<nav class="footer-menu">
			<h1 class="hidden">footer-menu</h1>
			<ul class="flex-evenly">
				<li><a href="">menu</a></li>
				<li><a href="">menu</a></li>
				<li><a href="">menu</a></li>
				<li><a href="">menu</a></li>
			</ul>
		</nav>
		<nav class="sns-menu">
			<h1 class="hidden">sns-menu</h1>
			<ul class="flex-evenly">
				<li><a href=""> <i class="fab fa-facebook-square fa-3x"></i>
				</a></li>
				<li><a href=""> <i class="fab fa-instagram-square fa-3x"></i>
				</a></li>
				<li><a href=""> <i class="fab fa-youtube fa-3x"></i>
				</a></li>
			</ul>
		</nav>
	</div>
</footer>

</html>