<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layouts/style.css">
<link rel="stylesheet" href="/css/layouts/layout.css">
<link rel="stylesheet" href="/css/index.css">
<script src="https://kit.fontawesome.com/49d3a7e676.js"
	crossorigin="anonymous"></script>
<title>index</title>
</head>

<body class="flex-center">
	<h1 class="hidden">index</h1>
	<div class="container">
		<nav class="top-menu">
			<h1 class="hidden">top-menu</h1>
			<ul class="flex-center">
				<li class="hexagon-wrapper">
					<div class="hexagon flex-center">
						<a href="board/video/list"> <i class="fas fa-chess-knight"></i>
							<div class="text">Video</div>
						</a>
					</div>
				</li>
				<li class="hexagon-wrapper">
					<div class="hexagon flex-center">
						<a href="board/channel/list"> <i class="fas fa-chess-pawn"></i>
							<div class="text">Channel</div>
						</a>
					</div>
				</li>
				<li class="hexagon-wrapper">
					<div class="hexagon flex-center">
						<a href="board/ranking/list"> <i class="fas fa-chess-rook"></i>
							<div class="text">Ranking</div>
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<nav class="bottom-menu">
			<h1 class="hidden">bottom-menu</h1>
			<ul class="flex-center">
				<li class="hexagon-wrapper">
					<div class="hexagon flex-center">
						<a href="board/mypage/list"> <i class="fas fa-chess-king"></i>
							<div class="text">Mypage</div>
						</a>
					</div>
				</li>
				<li class="hexagon-wrapper">
					<div class="hexagon flex-center">
						<a href="board/product/list"> <i class="fas fa-chess-queen"></i>
							<div class="text">Default</div>
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

</body>
</html>