<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>

<!-- CDN -->
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

<!-- 공통 CSS -->
<link rel="stylesheet" href="/css/layouts/style.css">
<link rel="stylesheet" href="/css/layouts/layout.css">

<!-- 개별 CSS -->
<th:block layout:fragment="css"></th:block>

<!-- 개별 JS -->
<th:block layout:fragment="js"></th:block>

</head>

<body>

	<header th:replace="fragments/header :: headerFragment"></header>

	<div id="body">

		<aside th:replace="fragments/aside :: asideFragment"></aside>

		<th:block layout:fragment="content"></th:block>

	</div>

	<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>

</html>